<%= form_for @question do |f| %>

  <% if @question.errors.any? %>
    <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

<div>
  <%= f.label "Question Title" %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :description %>
  <%= f.text_field :description %>
</div>

<div>
  <%= f.submit "Submit your question" %>
</div>

<% end %>
