<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="float-left">
  <h2><%= @title %></h2>
</div>

<div class="float-right">
  <h4>
    <%= link_to "Post a Question", new_question_path %>
  </h4>
</div>

<br><br>
<hr>



<div class="inner-body">
  <%= yield %>
</div>

<div class="footer navbar-fixed-bottom" style="padding-bottom: 20px;">
  <center>
    <%= link_to "All Questions" , questions_path %> | <%= link_to "Post a Question" , new_question_path %> | Created by Jacinda Zhong | Launch Academy June 2014
  </center>
</div>


</body>
</html>
